<div>
  <h2>Pagina de productos</h2>
  <div>
    {{#each productos}}
    <p>Producto: {{this.title}}</p>

    <p>Precio:{{this.price}} $</p>
    <img width="100" src={{this.thumbnail}}>
    {{/each}}
  </div>
</div>